.page-404-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

p {
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

button {
	padding: 1rem 2rem;
	margin-right: 1rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #0062cc;
}

button:last-child {
	margin-right: 0;
}
